<footer>
	<div class="container">
		<div class="inside clearfix">
			<div class="vcard col-sm-4 col">
				<div class="org">Immovaleur</div>
				<div class="adr">
					<div class="street-address">Rötschmattenweg 10</div>
					<span class="postal-code">3232 </span><span class="locality">Ins</span>
				</div>
				<div class="tel">031 972 04 77</div>
			</div>
			<div class="col-sm-4 col text-center contact-us">
				<a class="fancylink" href="mailto:info@immovaleur.ch">Uns Kontaktieren</a>
			</div>
			<div class="col-sm-4 col text-right back-top">
				<a href="#" class="gray-light gray-link">Nach oben <i class="icon-arrow-1-03"></i></a>
			</div>
		</div>
	</div>
</footer>