<div class="navbar navbar-static-top">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a class="smooth gray-link" href="/">Immovaleur</a></li>
				<li><a class="smooth gray-link" href="/ueber-uns/">Über uns</a></li>
				<li><a class="smooth gray-link" href="/kompetenzen/">Kompetenzen</a></li>
				<li><a class="smooth gray-link" href="/referenzen/">Referenzen</a></li>
				<li><a class="smooth gray-link" href="/kontakt/">Kontakt</a></li>
			</ul>
		</div><!--/.nav-collapse -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
	</div>
</div>