.contact {
	font-size: 17px;
	margin-top: 60px;
	margin-bottom: 60px;
	h2 {
		font-family: 'az_l';
		font-size: 22px;
		margin: 0;
	}
	h3 {
		font-family: 'az_li';
		font-size: 17px;
		color: $gray-light;
		margin: 5px 0 0 0;
	}
	.adr { margin-top: 20px; }
	.tel, .email { 
		margin-bottom: 20px;
		&:hover {
			text-decoration: none;
			color: inherit;
		}
	}
	.chiefs {
		margin-top: 20px;
		span { color: $gray-light; }
	}
}