@charset "UTF-8";
p { 
	font-size: 17px;
	line-height: 1.6em;
}

header {
	position: relative;
	width: 100%;
	top: 0;
	> div {
		margin-top: -72px;
	}

	#logo {
		margin-bottom: 0;
		margin-top: 0;
		position: relative;
		img {
			width: auto;
			height: 24px;
			position: relative;
			z-index: 1001;
		}
	}
}

a:focus, a:hover { text-decoration: none; }

//notLogo
@media (min-width: $screen-sm) {
	html.js {
		nav, #wrapper {
			opacity: 0;
		}
	}
}
html.touch { //because of main.js:43
	nav, #wrapper {
		opacity: 1;
	}
}

footer {
	padding-top: 60px;
	padding-bottom: 40px;
	&:before {
		border: 2px solid $gray-lighter;
		border-radius: 14px;
		content: "";
		display: block;
		width: 14px;
		height: 14px;
		margin: 0 auto 30px;
	}
	div.inside {
		border-top: 2px solid $gray-lighter;
		border-bottom: 2px solid $gray-lighter;
		padding: 30px 0;
		
		.col:first-of-type { 
			padding-left: 0;
			text-align: center;
		}
		.col:last-of-type { padding-right: 0; }
		
		.contact-us { margin-top: 36px; }
		.back-top { 
			margin-top: 46px;
			text-align: center;
		}
		
	}
}

::selection {
	background: lighten($brand-primary, 30%);
	}
::-moz-selection {
	background: lighten($brand-primary, 30%);
}

@media (min-width: $screen-sm) {
	header {
		position: absolute;
		height: 70%;
		.vcenter { 
			position: absolute;
			margin-top: -50px;
			top: 50%;
			width: 100%;
		}
		#logo {
			margin-bottom: 0;
			img {
				width: auto;
				height: 60px;
			}
		}
	}

	#wrapper {
		position: absolute;
		width: 100%;
		top: 70%;
	}

	footer {
		div.inside {
			.col:first-of-type { 
				text-align: left;
			}
			.back-top { 
				margin-top: 66px;
				text-align: right;
			}
		}
	}
}

/*--------------------------------------------------------------------------
   Grid
  --------------------------------------------------------------------------*/
// .gallery {
// 	.col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-6, .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1, {
// 		padding-right: 5px;
// 		padding-left: 5px;
// 	}
// }
// @media (max-width: $screen-sm-min - 1) {
//     $grid-gutter-width: 6px; // redefining

//     // also redefine $navbar-padding-horizontal in the scope because it depend on $grid-gutter-width
//     $navbar-padding-horizontal: floor(($grid-gutter-width / 2));
// }
@media (max-width: 768px) {
	.gallery {
		div[class^="col"] {padding-left:$small-gutter-width/2; padding-right:$small-gutter-width/2;}
		div[class^="col"]:first-of-type {padding-left:$grid-gutter-width/2;}
		div[class^="col"]:last-of-type {padding-right:$grid-gutter-width/2;}
	}
}

/* --------------------------------------------------------------------------
   Helper classes
   -------------------------------------------------------------------------- */

.fullwidthsection { 
	background: $brand-primary;
	color: #fff;
	margin: 45px 0 45px;
	.section-title { color: #fff; }
	.text-big { 
		@include fontsmoothing;
	}
	.circle:before { border-color: #fff; }
}

.gray-light { color: $gray-light;}

html.no-touch .gray-link {
	transition: color 0.2s cubic-bezier(.57,.16,.69,1.17);
	&:hover { 
		color: $brand-primary;
		text-decoration: none;
	} 
}

.section-title {
	color: $gray-light;
	font-size: 54px;
	margin-top: 40px;
	text-transform: uppercase;
	padding-bottom: 40px;
	&.not-first-section {
		margin-top: 60px;
		padding-bottom: 40px;
	}
}

.sub-title {
	font-family: 'az_l';
	font-size: 22px;
	margin-bottom: 3px;
	& + h3 {
		font-family: 'az_l';
		font-size: 17px;
		margin-top: 0px;
		margin-bottom: 3px;
		font-style: italic;
		line-height: 1.6em;
	}
}

li.text-big {
	margin-bottom: 44px;
	list-style: none;
}

.text-big { font-size: 18px; }

.circle{
	position: relative;
	&:before {
		border: 2px solid $brand-primary;
		border-radius: 14px;
		content: "";
		display: block;
		width: 14px;
		height: 14px;
		position: absolute;
		left: -10px;
		top: -24px;
	}
}

.immo-big { margin-top: 30px; }

.space { margin-top: $small-gutter-width; }
@media (min-width: $screen-sm){
	.space { margin-top: $grid-gutter-width; }
}
.middle-space { margin-top: 30px; }

.xs-space { margin-top: 30px; }
@media (min-width: $screen-sm) {
	.xs-space { margin-top: 0px; }
}

.dt, .dd { font-size: 14px; }

.dt {
	color: $gray-light;
	font-family: 'az_li';
}

.seperator:after {
	border: 2px solid $gray-lighter;
	border-radius: 14px;
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	margin: 240px auto 0;
}

.normalize { font-family: 'az_l'; }

@media (min-width: $screen-sm) {
	.section-title { margin-top: 0; }
	.text-big { font-size: 22px; }
	.circle{
		&:before {
			left: -16px;
		}
	}
	.middle-space { margin-top: 60px; }
	.dt, .dd { font-size: 17px; }
}

html.no-touch .fancylink {
	position: relative;
	&:hover {
		color: $brand-primary;
		text-decoration: none;
	}
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: -5px;
		left: 0;
		background: $brand-primary;
		visibility: hidden;
		border-radius: 5px;
		transform: scaleX(0);
		transition: transform .25s cubic-bezier(.57,.16,.69,1.17);
	}
	&:hover:before,
	&:focus:before {
		visibility: visible;
		transform: scaleX(1);
	}
}

.img-circle { border: 3px solid $brand-primary; }

.ib { display: inline-block; }

.wordwrap {
	hyphens: auto;
}