.navbar {
	background: black;
	border: none;	

	.navbar-nav {
		> li { 
			a {
				color: $gray-light;
				text-align: center;
				&:hover, &:focus { 
					color: $brand-primary;
					background: transparent;
				}
			}
			&.active > a { 
				background: transparent;
				color: $gray-light;
				&:hover, &:focus {
					background: transparent;
					color: $brand-primary;
				}
			}
		}
	}

	.navbar-header { background: white; }
	
	.navbar-toggle {
		margin-top: 16px;
		border-color: transparent;
		&:hover .icon-bar{ background-color: $brand-primary; }
		.icon-bar { 
			background-color: $gray-light;
		}
	}
}

@media (min-width: $screen-sm) {
	.navbar {
		background: transparent;
		border: none;	
		margin-top: 60px;

		.navbar-nav {
			float: right;
			> li { 
				float: none;
				a {
					padding: 2px 0 2px 2px;
					text-align: right;
				}
			}
		}
	}
}
