// Snippet from https://bootsnipp.com/snippets/4z2R
/* carousel */
#quote-carousel 
{
	margin-top: 90px;
	margin-bottom: 90px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
	background: none;
	color: #222;
	text-shadow: none;
	margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
	left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
	right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
	right: 0px;
	left: inherit;
	top: -8px;
	bottom: 0px;
	margin-right: 0;
	margin-left: 0;
	width: auto;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
	display: block;
	margin: 8px 1px;
	background: #c0c0c0;
  -webkit-transition: background 1s; /*adjust timing here */
  -moz-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
}
#quote-carousel .carousel-indicators .active 
{
	background: #333333;
    -webkit-transition: background 1s; /*adjust timing here */
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
    width: 10px;
    height: 10px;
}
#quote-carousel img
{
	height: 100px
}
/* End carousel */

.item blockquote {
	padding: 0;
	border-left: none; 
	margin: 0;
	text-align: center;
	min-height: 790px;
	small {
		font-size: 14px;
		color: inherit;
	}
	ol {
		font-size: 13px;
		list-style-position: inside;
	}
}

.item blockquote img {
	margin-bottom: 10px;
}

blockquote footer:after, blockquote small:after, blockquote .small:after {
	content: '\00A0 \2014';
}


/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) { 
	#quote-carousel	{
		.carousel-indicators {
			left: 30px;
			right: inherit;
			top: 130px;
			width: 100px;
			li {
				display: inline-block;
				margin: 1px;
			}
		}
		margin-bottom: 200px;
		margin-top: 200px;
	}
	.item blockquote {
		text-align: left;
		min-height: 360px;
		small {
			font-size: 17px;
		}
		ol { list-style-position: unset; }
	}
	blockquote footer:after, blockquote small:after, blockquote .small:after {
		content: '';
	}
}
@media (min-width: $screen-md) {
	#quote-carousel	{
		.carousel-indicators {
			left: 46px;
		}
		.item blockquote {
			min-height: 300px;
		}
	}
}

@media (min-width: $screen-lg) {
	#quote-carousel	{
		.carousel-indicators {
			left: 86px;
		}
		.item blockquote {
			min-height: 280px;
		}
	}
}

@media (max-width: $screen-sm) {
	.item blockquote {
		ol { padding: 0; }
	}
}

/* Fade transition for carousel items */
.carousel .item {
	left: 0 !important;
	opacity: 0;
      -webkit-transition: opacity 1.3s; /*adjust timing here */
      -moz-transition: opacity 1.3s;
      -o-transition: opacity 1.3s;
      transition: opacity 1.3s;
  }
  .carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.item.active{
	opacity: 1;
}

.next.left,
.prev.right {
	opacity: 1;
	z-index: 10;
}
.active.left,
.active.right {
	opacity: 0 !important;
	z-index: 2;
	  -webkit-transition: opacity 1.3s; /*adjust timing here */
	  -moz-transition: opacity 1.3s;
	  -o-transition: opacity 1.3s;
	  transition: opacity 1.3s;
	}
/* Image Slider */
#image-carousel {
	.carousel-control {
		z-index: 99;
		text-shadow: none;
		font-size: 40px;
		opacity: inherit;
		&.carousel-control:hover, &.carousel-control:focus {
			opacity: inherit;
		}
		&.carousel-control:hover {
			span {
				opacity: 1;
			}
		}	
		span {
			display: block;
			position: relative;
			top: 50%;
			margin-top: -20px;
			opacity: 0.5;
			transition: opacity 0.05s ease-out;
		}
		&.left span { left: 0px; }
		&.right span { right: 0px; }
	}
}

@media (min-width: $screen-sm) {
	#image-carousel {
		.carousel-control {
			&.left span { left: -20px; }
			&.right span { right: -20px; }
		}
	}
}
