.ueber {
	#team {
		.img-circle { height: 150px; }
		p {
			line-height: 1em;
			margin-top: 20px;
			em {
				color: $gray-dark;
				display: inline-block;
				font-size: 16px;
				margin-top: 10px;
				&:before { content: "- "; }
				&:after { content: " -"; }
				}
			span {
				color: $gray-dark;
				font-size: 12px;
			}
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.ueber #team .row {
		> div:not(:first-of-type) {
			margin-top: 40px;
		}
	}
}
@media (min-width: $screen-sm) and (max-width: $screen-md) {
	.ueber {
		#team .row {
			> div:nth-of-type(3), div:nth-of-type(4) {
				margin-top: 40px;
			}
		}
	}
}

@media (min-width: $screen-sm) {
	.ueber {
		#jmaederPortrait {
			> div:nth-of-type(2) {margin-top: 92px;}
		}		
	}
}@media (min-width: $screen-md) {
	.ueber {
		#jmaederPortrait {
			> div:nth-of-type(2) {margin-top: 216px;}
		}		
	}
}