//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 80%) !default;   // #999
$gray-lighter:           lighten(#000, 90%) !default; // #eee

$brand-primary:         #3bc4c4 !default;//maeder consulting "cyan"
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

// own colors

$font-family-sans-serif: 'az_l','Helvetica Neue', Helvetica, Arial, sans-serif !default;
$headings-font-family: 'az_lc' !default;
// $headings-font-weight: 400 !default;
$font-size-base:          16px !default;

//large width
$grid-gutter-width:         30px !default;
$screen-lg:                  1350px !default;
$container-large-desktop:      ((1290px + $grid-gutter-width)) !default;

$small-gutter-width: 16px;

@mixin fontsmoothing {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}